<!-- some sample tasks -->
<% content_for :sidebar do %>
  <div class="box">
    <h1>Run Jobs</h1>
    <ul class="sidebar" data-hook="spree_delayed_jobs">
      <li><%= button_to "rake assets:clear", :action => "create" , :job => "assets:clear", :rake => true %></li>
      <li><%= button_to "rake assets:precompile", :action => "create" , :job => "assets:precompile", :rake => true %></li>
    </ul>
  </div>
<% end %>


